extends baseEmail

block content
  p Hi #{firstName},
  p Here is the Guard code you need to login to your account:
  h2(style="text-align: center") #{data.guardCode}
  p This email was generated because of a login attempt from a #{data.platform} platform located at #{data.ip} (#{data.country}). The login attempt included your correct email and password.
  p The Guard code is required to complete the login. No one can access your account without also accessing this email.
  p If you are not attempting to login then please change your password to ensure your account security.